body {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: whitesmoke;
}

div {
    display: block;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"],
input[type="search"] {
    border: none;
    border-bottom: 1px solid #111;
    background-color: transparent;
}

#nav_slide {
    background: #fff;
    box-sizing: border-box;
    left: 0;
    height: 100%;
    position: absolute;
    overflow-y: auto;
    /*transition: background .5s,transform .5s;*/
}

#nav_slide {
    border-right: 1px solid #ddd;
}

.close:hover {
    cursor: pointer;
}

.nav_container {
    display: none;
    background: hsla(0, 0%, 100%, .9);
    height: 100%;
    left: 0;
    opacity: 1;
    overflow: hidden;
    position: fixed;
    /*transition: opacity .5s,visibility .5s;*/
    visibility: visible;
    z-index: 4000;
}
