html {
    scroll-behavior: smooth;
}

body {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: whitesmoke;
}

* {
    box-sizing: border-box;
}

div {
    display: block;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"],
input[type="search"] {
    /*border: none;*/
    border: 1px solid #111;
    background-color: transparent;
}

#search {
    background-color: transparent;
    color: #111;
    outline: none;
    outline-style: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid #111 1px;
    /*padding: 3px 10px;*/
}

#nav_slide {
    background: #fff;
    box-sizing: border-box;
    left: 0;
    width: 75%;
    height: 100%;
    position: absolute;
    overflow-y: auto;
    /*transition: background .5s,transform .5s;*/
}

#nav_slide {
    border-right: 1px solid #ddd;
}


/*nav panel content*/

a:-webkit-any-link {
    /*color: -webkit-link;*/
    cursor: pointer;
    text-decoration: none;
}

.MenuItem {
    color: #000;
    display: block;
    font-size: 1rem;
    line-height: 2.7;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}

h2 {
    font-size: 2rem;
}

#heading,
.heading {
    font-size: 1.4rem;
    margin-bottom: 4rem;
    text-align: center;
    text-transform: uppercase;
}

.collection_ul {
    margin-bottom: 6rem!important;
    margin: 0 -1.5rem;
    /*grid*/
    box-sizing: border-box;
    display: flex;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    margin: 0;
    padding: 0;
    list-style: none;
}

.collection_ul>li {
    padding: 0 1.5rem;
    display: list-item;
    text-align: -webkit-match-parent;
    box-sizing: inherit;
    flex: 0 0 100%;
}

.collection_ul>li>a,
.grid>div>a {
    text-decoration: none;
    color: #000;
    transition: color 0.5;
}

.collection_ul>li>a>span,
.grid>div>a>span {
    color: #000;
    display: block;
    font-size: 0.8rem;
    line-height: 2;
    margin-top: 5rem;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: color .5s;
}

.collection_ul>li>a>img {
    display: block;
    margin: 0 auto;
    transition: opacity .5s;
    width: 100%;
    border: 0;
}


/*ul.heading,
.heading {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}*/

#close_nav_slide_mobile {
    display: none;
}

.main_menu {
    width: 75%;
}


/*change pills style*/

.nav-pills>li>a.active {
    background-color: transparent !important;
    color: #111 !important;
    border-bottom: solid #111 1px;
    /*font-weight: bold;*/
}

.nav-pills>li.active>a:hover {
    background-color: #111 !important;
    color: white !important;
}

.nav-link-color {
    color: #46b3e6;
}

.close:hover {
    cursor: pointer;
}

.nav_container {
    display: none;
    background: hsla(0, 0%, 100%, .9);
    height: 100%;
    left: 0;
    opacity: 1;
    overflow: hidden;
    position: fixed;
    /*transition: opacity .5s,visibility .5s;*/
    visibility: visible;
    z-index: 4000;
}

.carousel-inner img {
    width: 100%;
    height: 100%;
}


/* Make the image fully responsive */

.carousel {
    position: relative;
}

.carousel-item img {
    object-fit: cover;
}

#carousel-thumbs {
    background: rgba(255, 255, 255, .3);
    bottom: 0;
    left: 0;
    padding: 0 50px;
    right: 0;
}

#carousel-thumbs,
#home-carousel-thumbs img {
    border: 5px solid transparent;
    cursor: pointer;
}

#carousel-thumbs img,
#home-carousel-thumbs:hover {
    border-color: rgba(255, 255, 255, .3);
}

#carousel-thumbs,
#home-carousel-thumbs .selected img {
    border-color: #fff;
}

.carousel-control-prev,
.carousel-control-next {
    width: 100px;
}


/*parallax effect*/

:root {
    --scroll-var: 0px
}


/*
body {
    margin: 0;
    padding: 0;
}*/

h2 {
    font-size: 48px;
}

p {
    font-size: 18px;
}

section {
    min-height: 100vh;
    width: 100%;
    text-align: center;
    overflow: hidden;
    background-attachment: fixed !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    position: relative;
    /*Mandatory for the overflow effect*/
    height: 100vh;
}

section.first {
    background: whitesmoke;
    /*background: linear-gradient(rgba(166, 171, 173, 0.85), rgba(69, 73, 75, 0.85));*/
}

section.first .content {
    /* the first section so top start from 0*/
    top: calc((0 * 100vh) + var(--scroll-var));
}

section.second {
    background: #111;
    /*background: linear-gradient(rgba(26, 27, 27, 0.85), rgba(16, 22, 21, 0.85));*/
}

section.second .content {
    /* the second section so we need to remove the height of top section
     to have the same position so -100vh and we do the same for the other sections  
  */
    top: calc((-1 * 100vh) + var(--scroll-var));
}

section.third {
    background: whitesmoke;
    /*background: linear-gradient(rgba(69, 72, 73, 0.85), rgba(5, 123, 188, .85));*/
}

section.third .content {
    top: calc((-2 * 100vh) + var(--scroll-var));
}

section.fourth {
    background: #111;
    /*background: linear-gradient(rgba(12, 12, 12, 0.85), rgba(70, 71, 66, 0.85));*/
}

section.fourth .content {
    top: calc((-3 * 100vh) + var(--scroll-var));
}

.content {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.copy {
    color: #fff;
    font-family: 'Noto Serif', serif;
    font-weight: 300;
    max-width: 100%;
}

@media all and (max-width: 767px) {
    .carousel-container #carousel-thumbs img {
        border-width: 3px;
    }
}

@media all and (min-width: 576px) {
    .carousel-container #carousel-thumbs {
        position: absolute;
    }
}

@media all and (max-width: 576px) {
    .carousel-container #carousel-thumbs {
        background: #ccccce;
    }
}